ASPNETCORE_ENVIRONMENT=Development

ConnectionStrings__ChessServiceConnection=Host=localhost;Port=5433;Database=chess;Username=chess_user;Password=P@ssw0rd123!

POSTGRES_DB=chess
POSTGRES_USER=chess_user
POSTGRES_PASSWORD=P@ssw0rd123!

JwtOptions__Secret=dev-local-jwt-secret-minimum-32-chars-change-me
JwtOptions__Audience=chess-service-api
JwtOptions__Issuer=account-service-api
JwtOptions__AccessTokenExpiryMinutes=60
JwtOptions__RefreshTokenExpriryDays=14
