ASPNETCORE_ENVIRONMENT=Development

JwtOptions__Secret=dev-local-jwt-secret-minimum-32-chars-change-me
JwtOptions__Audience=chess-service-api
JwtOptions__Issuer=account-service-api
JwtOptions__AccessTokenExpiryMinutes=60
JwtOptions__RefreshTokenExpriryDays=14
