ASPNETCORE_ENVIRONMENT=Development

POSTGRES_DB=chess_account
POSTGRES_USER=chess_account_user
POSTGRES_PASSWORD=P@ssw0rd123!

ConnectionStrings__ChessAccountConnection=Host=localhost;Port=5432;Database=chess_account;Username=chess_account_user;Password=P@ssw0rd123!

JwtOptions__Secret=256-bit-secret-key
JwtOptions__Audience=chess-service
JwtOptions__Issuer=account-service-api
JwtOptions__AccessTokenExpiryMinutes=60
JwtOptions__RefreshTokenExpriryDays=14


EmailOptions__Email=example_email@gmail.com
EmailOptions__Password=google-app-password

