ASPNETCORE_ENVIRONMENT=Development

POSTGRES_DB=chess_account
POSTGRES_USER=chess_account_user
POSTGRES_PASSWORD=P@ssw0rd123!

ConnectionStrings__ChessAccountConnection=Host=localhost;Port=5432;Database=chess_account;Username=chess_account_user;Password=P@ssw0rd123!

JwtOptions__Secret=dev-local-jwt-secret-minimum-32-chars-change-me
JwtOptions__Audience=chess-service-api
JwtOptions__Issuer=account-service-api
JwtOptions__AccessTokenExpiryMinutes=60
JwtOptions__RefreshTokenExpriryDays=14


EmailOptions__UseFakeSender=true
EmailOptions__Email=example_email@gmail.com
EmailOptions__Password=google-app-password
