services:
  postgres:
    image: postgres:latest
    container_name: chess-account-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 30s

  account-api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: chess-account-api
    depends_on:
      - postgres
    environment:
      ASPNETCORE_ENVIRONMENT: Development

      ConnectionStrings__ChessAccountConnection: >
        Server=postgres;
        Port=5432;
        Database=${POSTGRES_DB};
        Username=${POSTGRES_USER};
        Password=${POSTGRES_PASSWORD};
        TrustServerCertificate=True

      EmailOptions__Email: ${EmailOptions__Email}
      EmailOptions__Password: ${EmailOptions__Password}
    ports:
      - "8080:8080"
    volumes:
      - .:/src

volumes:
  postgres_data:
