services:
  postgres:
    image: postgres:latest
    container_name: chess-account-postgres
    restart: unless-stopped
    env_file:
      - ./.env.prod
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 30s

  account-api:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: chess-account-api
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - ./.env.prod
    ports:
      - "8080:8080"

volumes:
  postgres_data:
