services:
  postgres:
    image: postgres:latest
    container_name: chess-account-postgres-dev
    restart: unless-stopped
    env_file:
      - ./dev.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
volumes:
  postgres_data:
